body {
  background-color: lightblue;
  font-family: "Lucida Console";
}
.title {
  text-align: center;
}

h1 {
  color: navy;
  margin-left: 20px;
}
.emphasis {
  color: red;
  font-family: "Copperplate";
}
