body {
  background-color: rgba(215, 215, 216, 0.818);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.title {
  text-align: center;
}

h1 {
  color: rgb(197, 98, 0);
  margin-left: 20px;
}
.emphasis {
  color: rgb(255, 0, 0);
  font-family: "Copperplate";
}
li {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.current{
 color:rgb(197, 98, 0); 
}
.expert{
  color:red;
}
.intermeadiate{
  color:darkgoldenrod
}
.beginner{
  color:green;
}
table, td, th{
  border: 1px solid;
}
table{
  border-collapse: collapse;
  width:100%;
}
